<div class="tester-register ">
<h1 class="header">Register as a Tester!</h1>
<div class="container ">
  <div class="row">
    <div class="width1">
      <form [formGroup]="registerForm">
        <div class="form-group">


          <div class="form-row mb-4">
            <div class="col">
              <input type="text" formControlName="firstName"  class="form-control" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" formControlName="lastName" id="defaultRegisterFormSector" class="form-control" placeholder="Last Name">
            </div>
          </div>

          <input type="email" formControlName="email" class="form-control" placeholder="E-mail"><br>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">

          <label class="error" style="color:red ">{{errorMessage}}</label>
          <label style="color:green "class="success">{{successMessage}}</label>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-outline-secondary rounded-pill">Register</button>
          </div>
          <div class="col-md-6">
            <p>Or connect with:</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row width">
    <div class="col-md-4">
      <button type="button" class="btn" (click)="tryFacebookLogin()"><img [ngStyle]="{'width':'40px'}" src="../../assets/facebook-icone-CmonSite.png"></button>
    </div>
    <div class="col-md-4 ">
      <button type="button" class="btn" (click)="tryGoogleLogin()"><img [ngStyle]="{'width':'40px'}" src="../../assets/google1.png"></button>
    </div>
    <div class="col-md-4 ">
      <button type="button" class="btn" (click)="tryTwitterLogin()"><img [ngStyle]="{'width':'40px'}" src="../../assets/twitter-CmonSite.png"></button>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>Already have an account? <a routerLink='/login'>Login</a></p>
    </div>
  </div>
</div>
</div>


