<!--<div class="row position-relative pos">-->
<!--  <div class="col-md-6 col-sm-16"><input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"></div>-->
<!--<div class="col-md-3 col-sm-8"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div>-->
<!--</div>-->
<!--<div>-->
<input type="text" (keydown)="search($event)" placeholder="search products..." class="input">

<div *ngFor="let product of dataSource">
  <h4>{{product?.name}}</h4>
  <p>
    {{product?.rate}}
  </p>
</div>

<div *ngIf="dataSource?.length < 1">
  <hr>
  <p>
    No results found :(
  </p>
</div>
