<!--<h1>Todos</h1>-->
<!--<ul>-->
<!--  <li *ngFor="let t of todos | async">{{ t.title }}</li>-->
<!--</ul>-->
<!--<h1>Products</h1>-->
<!--<ul>-->
  <!--<li *ngFor="let p of products | async">-->
  <!--<img src="{{p.path}}" style="width:20%">-->
    <!--<br>-->
    <!--name :{{ p.name }}-->
    <!--<br>-->
    <!--description :{{ p.description }}-->
    <!--<br>owner :{{ p.owner }}-->
    <!--<br>rate :{{ p.rate }}-->
    <!--<br>nombre de comments :{{ p.nbrComments }}-->
    <!--<br>nombre de ratings :{{ p.nbrRatings }}-->

  <!--</li>-->
<!--</ul>-->

<myorg-nav></myorg-nav>
<router-outlet></router-outlet>

