.btn-outline-success {
  color: #198083;
  border-color: #198083;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #198083;
  border-color: #198083;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #198083;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #198083;
  background-color: transparent;
}
