.formm{
    position: center;
    margin-left: 50%;
}
.bg{
  min-height: 100%;
  width: auto;
  background-image: url("../../assets/Testing.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pos{
  left: 25%;
  right: 30%;
}

.position{
left: 10%;
position: relative;

}