<div class="loginPage">
  <div class="left" [class.animateLeft]="!type">
    <div class="container">
      <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
      <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
  </div>

  <div class="left-media" [class.animateLeft]="!type">
    <div class="container">
      <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
      <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
  </div>

  <div class="right"  [class.animateRight]="!type">
    <div class="tester" *ngIf="this.type==true">
      <h1 class="text-dark">Login as a Tester</h1>
      <form #f="ngForm" (ngSubmit)="authService.SignIn(userName.value, userPassword.value)">
        <div class="form-group">
          <input type="text" ngModel class="form-control"  placeholder="Username" #userName required>
        </div>
        <div class="form-group">
          <input type="password" ngModel name="password" class="form-control"  placeholder="Password" #userPassword required>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button type="submit" class="btn btn-outline-secondary rounded-pill">Submit</button>
          </div>
          <div class="col-md-6 col-sm-12">New to Jarrabt'ha? <a routerLink="/register">Register here</a></div>
        </div>
      </form>
    </div>

    <div class="productOwner" *ngIf="this.type==false">
      <h1 class="text-dark">Login as a Product Owner</h1>
      <form #f="ngForm" (ngSubmit)="this.authService.SignIn(userName.value, userPassword.value)" >
        <div class="form-group" >
          <input type="text"ngModel class="form-control"  placeholder="Username" #userName required>
        </div>
        <div class="form-group">
          <input type="password" ngModel name="password" class="form-control"  placeholder="Password" #userPassword required>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button type="submit" class="btn btn-outline-secondary rounded-pill">Sign in</button>
          </div>
          <div class="col-md-6 col-sm-12">New to Jarrabt'ha? <a routerLink="/register">Register here</a></div>
        </div>
      </form>
    </div>

  </div>


</div>
