
<div class="loginPage">
 <div class="left" [class.animateLeft]="!type">
   <div class="container">
    <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
     <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
</div>

  <div class="left-media" [class.animateLeft]="!type">
   <div class="container">-->
      <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
     <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
  </div>

  <div class="right"  [class.animateRight]="!type" style="height: 30%;width:85%">
    <div class="tester" *ngIf="this.type==true">
   <h1 class="header">Login as Tester</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>No account yet? <a href="/register">Create an account</a></p>
    </div>
  </div>
</div></div></div>


   <div class="productOwner" *ngIf="this.type==false">
      <h1 class="header">Login as Product Owner</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <label class="error">{{errorMessage}}</label>
              </div>
              <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <p>No account yet? <a href="/register">Create an account</a></p>
          </div>
        </div>
      </div>
   </div></div>
<!--</div>-->
