<div class="loginPage">
  <div class="left" [class.animateLeft]="!type">
    <div class="container">
      <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
      <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
  </div>

  <div class="left-media" [class.animateLeft]="!type">
    <div class="container">
      <h1 class="text-light">Are you  <br>{{this.typeString}}?</h1>
      <button type="button" class="btn btn-lg btn-light rounded-pill" (click)="changeType()">Login as {{this.typeString}} </button>
    </div>
  </div>

  <div class="right"  [class.animateRight]="!type">
    <div class="tester" *ngIf="this.type==true">
      <h1 class="text-dark">Login as a Tester</h1>
      <div class="container">
        <h1>Sign In Form</h1>
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="signinForm" (ngSubmit)="signin()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="email" formControlName="email"  class="form-control" placeholder="Email">
                  </div>
                  <p class="help-block" *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please enter email.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" formControlName="pass" class="form-control" placeholder="Password">
                  </div>
                  <p class="help-block" *ngIf="!signinForm.get('pass').valid && signinForm.get('pass').touched">Please enter passworld.</p>
                </div>
              </div>
              <div class="row pull-right">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary"
                          [disabled]="!signinForm.valid">Signin</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="productOwner" *ngIf="this.type==false">
      <h1 class="text-dark">Login as a Product Owner</h1>
      <div class="container">
        <h1>Sign In Form</h1>
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="signinForm" (ngSubmit)="signin()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="email" formControlName="email"  class="form-control" placeholder="Email">
                  </div>
                  <p class="help-block" *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please enter email.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="password" formControlName="pass" class="form-control" placeholder="Password">
                  </div>
                  <p class="help-block" *ngIf="!signinForm.get('pass').valid && signinForm.get('pass').touched">Please enter passworld.</p>
                </div>
              </div>
              <div class="row pull-right">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary"
                          [disabled]="!signinForm.valid">Signin</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
