<div class="container">
  <h1>Sign Up Form</h1>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" formControlName="email"  class="form-control" placeholder="Email">
            </div>
            <p class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter email.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" formControlName="pass" class="form-control" placeholder="Password">
            </div>
            <p class="help-block" *ngIf="!signupForm.get('pass').valid && signupForm.get('pass').touched">Please enter passworld.</p>
          </div>
        </div>
        <div class="row pull-right">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary"
                    [disabled]="!signupForm.valid">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--<div class="prod-own-register align-middle">-->
<!--  <h1 class="text-dark" >Register as a Product Owner!</h1>-->
<!--  <div class="form-row">-->

<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="text" class="form-control rounded-pill" ngModel name="OrgName" placeholder="Organisation name"  required>-->
<!--    </div>-->

<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="text" class="form-control" ngModel name="representative" placeholder="Representative" required>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="form-row">-->
<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="text" class="form-control" ngModel name="post" placeholder="Post" required>-->
<!--    </div>-->
<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="text" class="form-control" ngModel name="phone" placeholder="Phone" required>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row">-->

<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="username" class="form-control" placeholder="userName" #userName required>-->
<!--    </div>-->

<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="email" class="form-control" placeholder="Email Address" #userEmail required>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-row">-->
<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="password" class="form-control" placeholder="Password" #userPwd required>-->
<!--    </div>-->
<!--    <div class="col-md-6 mb-3">-->
<!--      <input type="password" class="form-control" placeholder="retype Password"  required>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row">-->
<!--    <div class="col-md-4 col-sm-10">-->
<!--      <input type="button" style="background-color:#6ee7ff" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">-->

<!--    </div>-->
<!--    <div class="col-md-2 col-sm-8">-->
<!--      <span class="or"><span class="orInner">Or</span></span>-->
<!--    </div>-->
<!--    <div class="col-md-4 col-sm-10">-->


<!--      &lt;!&ndash; Continue with Google &ndash;&gt;-->
<!--      <input type="image" src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" (click)="authService.GoogleAuth()" />-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-md-12 col-sm-12">You already have an account? <a routerLink="/login">Login here</a></div>-->
<!--</div>-->

